/* HOME PAGE */
/* name positioning */
.name{
    text-align:center;    
    font-size:60px;
    font-weight:200;
    font-family: "Sofia", sans-serif;
    margin-bottom:0;
    color: rgb(184, 42, 42);
}   
/* flower text */
.flower{
    text-align:center;
    font-weight:100;
    font-family: "Sofia", sans-serif;
    margin-bottom:0;
    margin-top:0;
    color: rgb(230, 151, 151); 
}
/* cat positioning */
.catPosition{
    width: 800px;
    padding-top:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* link positioning*/
.linkPosition{
    position:fixed !important;
    bottom: 5% !important;
    left: 30% !important;
    text-align:center;
    font-size:200%;
    font-family: "Sofia", sans-serif;
    background-color: #f5eeee;
    padding: 1%;            
    border-radius: 50px;      
    color: rgb(230, 151, 151); 
}
 

/* ABOUT ME PAGE*/
/*center ariplane image*/
.plane{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width:500px;
}
/* uzbekistan position*/
.uzb{
    position:fixed;
    margin-top:200px;
    margin-left:100px;
    font-family: "Delius", monospace;
    font-weight: 400;
    font-style: normal;
    background-color:rgb(219, 233, 197);
    padding:10px;
    border-radius:50px;

}

/* philly position*/
.philly{
    position:fixed;
    top:200px;
    right:100px;
    font-family: "Delius", monospace;
    font-weight: 400;
    font-style: normal;
    background-color:rgb(219, 233, 197);
    padding:10px;
    border-radius:50px;
}


/*interests, favorites, eduction edits*/
.aboutMe{
    float: left;
    width: 33.3%;
    border:1px #ccc solid;
    padding:10px;
    border-radius:30px;
    box-sizing:border-box;
    font-family: "Delius", monospace;
    font-weight: 400;
    font-style: normal;
}
.aboutMe h2{
    color:rgb(83, 185, 114);
    font-weight: bolder;
    text-align:center;
}

.school{
    font-weight: bold;
}

/* makes text boxes align */
.clr{
    clear:both;
}

/* home page text edits*/
.homePage{
    text-align:center;
    font-size:35px;
    font-family: "Sofia", sans-serif;
    position:fixed;
    margin-left:560px;
    bottom:60px;
    background-color: #f5eeee;
    padding: 10px;            
    border-radius: 50px;      
    color: rgb(230, 151, 151); 
}

/*removes unerline on links*/
a{
    text-decoration: none;
}
a:hover{
    color:rgb(102, 214, 252)
}